html, body{
	font-family: "Arial", "Georgia", "Times New Roman";
	background: transparent;
    height: 100%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
}

.top{
    font-size: 14pt;
    text-align: center;
}

.entry{
    background: #3c3f41;
    padding: 20px;
    color: #cccccc;
    overflow: hidden;
}

