html, body{
    height: 100%;
    width: 100%;
    background: transparent;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;

}

.top{
    font-size: 14pt;
    text-align: center;
}

.entry{
    border: 3px solid rgba(134, 78, 226, 0.8);
    background: #3c3f41;
    padding: 20px;
    color: #c2c2c2;
    overflow: hidden;
}

