.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    max-height: 46px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;;
}


.navItem {
    display:inline-block;
}

.navItem a, .dropbtn {
    display: inline-block;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navItem a:hover, .drop:hover .dropbtn {
    background-color: #838383;
}

.logo{
    float:left;
    margin-right: 96px;
}
