h1 {
	text-align: center;
}

.categoryDescription {
	padding: 10px;
    text-align: center;

    margin-left: 10vw;
    margin-right: 10vw;
}

.categoryHeader {
	text-align: center;
	padding: 10px 10px 0;
}

.contentDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.contentTile {
    width: 25vh;
    height: 25vh;
    min-height: 150px;
    min-width: 150px;
    padding-bottom: 15px;
    margin: 5px;
	text-align: center;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.contentDescription {
	text-decoration: none;
	color: #000;
}

.contentThumbnail {
    height: 88%;
    width: 100%;
}

.contentP{
    height: 100%;
    padding-top: 5px;
    vertical-align: middle;
	font-size: 1.5vh;
}


