h1 {
	margin: center;
}

.categoryDescription {
	padding: 10px;
}

.contentTable {
	table-layout: fixed;
}

.categoryHeader {
	text-align: center;
	padding: 10px;
	padding-bottom: 0px;
}

.contentTable {
	max-width: 100%;
	width: 100%;
}

.contentTile {
	text-align: center; 
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.contentDescription {
	text-decoration: none;
	color: #000;
}

.contentThumbnail {
	display: block;
	max-height: 256px;
	width: 100%;
	margin: 5px;
}