*{
	margin: 0;
	padding: 0;
}

.categoryBody{
	padding-top: 50px;
	transition: filter, 0.75s ease-out;
}

.categoryDescription {
	padding: 10px;
	text-align: center;
	font-size: 12pt;
	margin-left: 10vw;
	margin-right: 10vw;
}

.categoryHeader {
	text-align: center;
	padding: 10px 10px 0;
    font-size: 18pt;
}

.contentDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
 }

.contentTile {
	min-width: 200px;
	min-height: 200px;
	width: 20vmax;
	height: 20vmax;
	padding-bottom: 1vh;
	margin: 1vmax;
	text-align: center;
	overflow: hidden;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
    cursor: pointer;
}

.contentTile:hover {
	box-shadow: 0 0 0.5vmin 0.4vmin rgba(0,0,0,0.5);
}

.contentDescription {
	text-decoration: none;
	color: #000;
	height: 100%;
}

.contentThumbnail {
	flex: 1;
	min-height: 80%;
	width: 100%;
}

.contentP{
	font-size: 12pt;
}

/* Comment CSS */
.comment-container {
	background-color: #f2f2f2;
	font-family: "Arial", "Times New Roman";
	margin-left: 18px;
	height: 285px;
	width: 97%;
}

.comment-title {
	padding: 15px;
	font-size: 24px;
	color: #333;
}

#comment-form {
	padding: 15px;
	padding-top: 0px;
	width: 320px;
}

.comment-info {
	padding: 10px;
}

#name{
	font-family: "Arial", "Times New Roman";
	font-size: 15px;
	padding: 5px;
	display: block;
	margin-bottom: 15px;
	width: 100%;
	border: 2px solid #333;
}
.comment-area{
	font-family: "Arial", "Times New Roman";
	font-size: 15px;
	display: block;
	margin-bottom: 15px;
	padding: 5px;
	width: 600px;
	height: 100px;
	border: 2px solid #333;
}
.comment-submit {
	font-family: "Arial", "Times New Roman";
	font-size: 16px;
	padding: 7px;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
}

.comment-box {
	background-color: #f2f2f2;
	font-family: "Arial", "Times New Roman";
	padding: 10px;
	margin-left: 50px;
	height: 100%;
	width: 93%;
}
