html,body { min-height:100%; }

*{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.contentHeader {
	text-align: center;
	padding: 2vmin;	
}

.imageWrapper {
    text-align: center;
    overflow: hidden;
    max-height: 75vh;
	max-width: 95vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.contentImage {
    background: #dadada;
    max-height: 60vh;
}

.contentDescription {
	padding: 10px;
	font-size: 2.0vmin;
	text-align: center;
	max-width: 65vw;
}

#contentContainer>p:not(.contentDescription){
	padding: 2vh 0 2vh 0;
	max-width: 90vw;
	min-height: 100vh;
}

.imageWrapper>p{
	padding-top: 1vmin;
	font-size: 2.2vmin;
}

#contentContainer{
    transition: filter, 0.75s ease-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
	justify-items: center;
}