html,body { height:89.9vh; }

*{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.contentHeader {
	text-align: center;
	padding: 10px;
}

.imageWrapper {
    text-align: center;
    overflow: hidden;
    max-height: 75vh;
	max-width: 95vw;
	margin-left: 10vw;
	margin-right: 10vw;
}

.contentImage {
    background: #dadada;
    max-height: 60vh;
}

.contentDescription {
	padding: 10px;
    flex: 1;
}

#contentContainer{
    transition: filter, 0.75s ease-out;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}