*{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.contentHeader {
	text-align: center;
	padding: 10px;
}

.imageWrapper {
    text-align: center;
    overflow: hidden;
    max-height: 75vh;
	margin-left: 10vw;
	margin-right: 10vw;
}

.contentImage {
    background: #dadada;
    max-height: 60vh;
}

.contentDescription {
	padding: 10px;
}