h1 {
    text-align: center;
}

.categoryDescription {
    padding: 10px;
}

.contentTable {
    table-layout: fixed;
    max-width: 100%;
    width: 100%;
}

.categoryHeader {
    text-align: center;
    padding: 10px 10px 0;
}

.contentTile {
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.contentDescription {
    text-decoration: none;
    color: #000;
}

.contentThumbnail {
    display: block;
    height: 256px;
    width: 100%;
    margin: 5px;
}