h1 {
	text-align: center;
}

.categoryDescription {
	padding: 10px;
}

.contentTable {
	table-layout: fixed;
}
.categoryHeader {
	padding: 10px;
	padding-bottom: 0px;
	text-align: center;
}

.contentTable {
	width: 100%;
}

.contentTile {
	text-align:center; 
	overflow: hidden;
	max-width: 34%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.contentDescription {
	text-decoration: none;
	color: #000;
}

.contentThumbnail {
	display: block;
	margin: 5px;
	max-width: 100%;
	height: auto;
	width: auto;
}