*{
    margin: 0;
    padding: 0;
}

body, html{
    background: #ebebeb;
	width: 100%;
}

body{
	overflow-y: scroll;
}

.header{
    text-align: center;
    min-height: 50px;
	max-height: 50px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
    background: url(../images/index/sloth-boy.png) no-repeat;
    background-size: cover;
	overflow: hidden;
}

.header>h1{
	margin: auto;
    min-height: 50px;
	max-height: 50px;
	font-size: 20pt;
    background: rgba(255,255,255,0.5);
	padding-top: 5px;
}

.nav {
	display: flex;
    justify-content: stretch;
    list-style-type: none;
    background-color: #333;
    text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	font-size: 14pt;
    white-space: nowrap;
}

.navbar {
	position: absolute;
	width: 100%;
}

.navbar.posTop {
	position: fixed;
	top: 0px;
}

.navbar.hideme {
    opacity: 0;
}

.navItem {
    flex: 1 1 auto;
}

.dropbtn, .navItem{
	background-color: #333;
}

.navItem a, .dropbtn {
    display: flex;
    flex: 1;
	flex-direction: column;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navItem a:hover, .drop:hover .dropbtn {
    background-color: #838383;
}

li.drop {
    display: inline-block;
}

.active{
    background-color: #838383;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: #8e8e8e;
    width: 250px;
	font-size: 14pt;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    z-index: 1;
}

.dropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropcontent a:hover{
    background-color: #c1c1c1;
}

.drop:hover .dropcontent {
    display: flex;
    flex-direction: column;
}

#indexBody {
	padding-top: 70px;
}

.logo{
	display: flex;
    flex: 0;
}

.logo>a{
    background: url(../images/index/templogo.png) no-repeat center;
    background-size: cover;
    width: 12px;
}

.options{
    display: flex;
    flex-direction: column-reverse;
    flex: 0;
}

.imgContainer{
    text-align: center;
    max-height: 445px;
    overflow: hidden;
}

.imgList{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 445px;
    width: 100%;
    overflow: hidden;
    background: #dadada;
    list-style: none;
    position: relative;
}

.imgListItem .imgListLink img{
    height: 445px;
    width: 445px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}

.imgDescription{
    font-size: 12pt;
    text-align: center;
    background: #dadada;
    padding: 5px;
}

.NEDescription{
    font-size: 14pt;
    text-align: center;
    background: orange;
    padding: 10px 0 150px 0;
}

#NEDContainer{
    border-top: 1px solid rgba(0,0,0,0.3);
}

footer{
    position: relative;
    bottom: 0;
    height: 22px;
    margin-top: -22px;
    clear: both;
    border-top: 1px solid rgba(0,0,0,0.3);
    background: #ebebeb;
    padding: 5px;
    text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}