*{
    margin: 0;
    padding: 0;
}

body, html{
    background: #ebebeb;
    height: 100%;
    width: 100%;
}

body{
	overflow-y: scroll;
}

.header{
    text-align: center;
    min-height: 50px;
	max-height: 50px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
    background: url(../images/index/sloth-yes.jpg);
    /*background-size: cover;*/
	overflow: hidden;
}

.header>h1{
	margin: auto;
    min-height: 50px;
	max-height: 50px;
	font-size: 20pt;
    background: rgba(255,255,255,0.5);
	padding-top: 5px;
}

.nav {
	display: flex;
    justify-content: stretch;
    list-style-type: none;
    background-color: #333;
    text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	font-size: 14pt;
    white-space: nowrap;
    transform: translate(0%, 0%);
    transition: transform 0.75s;
	z-index: 1;
	position: relative;
}

.navbar {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.navbar.posTop {
    position: fixed;
    top: 0;
}

.navItem {
    flex: 1 1 auto;
    max-height: 50px;
}

.dropbtn, .navItem{
	background: #333;
}

.navItem a, .dropbtn {
    display: flex;
    flex: 1;
	flex-direction: column;
    color: #fefefe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navItem a:hover, .drop:hover .dropbtn {
    background-color: #838383;
}

li.drop {
    display: inline-block;
}

.active{
    background-color: #838383;
}

.dropcontent {
    display: none;
    position: absolute;
    background-color: #8e8e8e;
    width: 250px;
	font-size: 14pt;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    z-index: 1;
}

.dropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	z-index: 1;
}

.dropcontent a:hover{
    background-color: #c1c1c1;
		z-index: 3;
}

.drop:hover .dropcontent {
    display: flex;
    flex-direction: column;
	z-index: 3;
}

#logo{
    min-width: 50px;
    height: 100%;
    font-size: 18pt;
    padding: 8px 0;
    cursor: pointer;
}

#logo:hover{
    background-color: #836666;
}

.options{
    display: flex;
    flex-direction: column-reverse;
    flex: 0;
}

#indexBody{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 50px;
    height: calc(100% - 105px);
}

#imgListContainer{
    display: flex;
    align-self: center;
    flex-direction: row;
    position: relative;
}

#mRight{
    right: 0;
}

.mover{
    position:absolute;
    width: 40px;
    height: 445px;
    margin: 10px 0;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: bolder;
}

.mover:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

#imgList{
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 445px;
    max-height: 445px;
    min-width: 600px;
    max-width: 600px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
}

#desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex:1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.imgListItem{
    min-height: 445px;
    max-height: 445px;
    min-width: 600px;
    max-width: 600px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}

.imgDescription{
    font-size: 12pt;
    text-align: center;
    background: #dadada;
    padding: 5px;
}

#NEDContainer{
    justify-self: center;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#pin{
    height: 100%;
    width: 50px;
}

#pinLabel{
    position: absolute;
    background: #333;
    height: 50px;
    width: 50px;
    line-height: 225%;
    font-size: 16pt;
    text-decoration: none;
    cursor: pointer;
}

#pinLabel:hover{
    background-color: #666683;
}

.end{
    justify-content: flex-end;
    height: 22px;
    background: #ebebeb;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    border-top: 1px solid rgba(0,0,0,0.3);
}

#sloth{
    background: url(../images/index/sloth-yes.jpg);
    /*background-size: cover;*/
}

#carl, #carl2{
    background: url(../images/index/CarlsWatching.jpg);
    /*background-size: cover;*/
}

#cirCon{
    position: absolute;
    left: calc(50% - 80px);
    bottom: 15px;
    width: 160px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.circ{
    fill: rgba(0, 0, 0, 0.5);
}

.circ:hover{
    fill: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.circActive{
    fill: rgba(255, 255, 255, 0.5);
    stroke: black;
}
