html, body{
    background: transparent;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

header>*{
    padding: 10px;
    font-size: 22pt;
    background: rgba(255,255,255,0.3);
}

.container{	
    display:flex;
    flex-direction: column;
	justify-content: center;
}

.entry{
    border: 3px solid rgba(134, 78, 226, 0.8);
    display: flex;
    flex-direction: column;
    text-align: right;
    background: #3c3f41;
    color: #c2c2c2;
    overflow: hidden;
}

#profileImage{
    width: 256px;
    height: 256px;
    background: #2a2d2f;
    margin: auto;
}

.inputs{
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: flex-end;
}

#submit{
    padding: 3px;
}

.actions{
    display: flex;
    justify-content: right;
}

input{
    color: #000000;
}

label{
    font-size: 12pt;
    flex: 1;
    margin-right: 10px;
}

.end{    
	position: fixed;
	bottom: 0;
	width: 100%;
    height: 22px;
    background: #ebebeb;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top: 1px solid rgba(0,0,0,0.3);
	flex: 0;
}

#message{
    vertical-align: top;
    min-height: 150px;
    min-width: 330px;
}

#log, #nagBox{
    border-top: 1px #c2c2c2 solid;
    visibility: hidden;
    max-height: 0;
    font-size: 10pt;
    background: white;
    transition: background 1s, visiblity 1s, max-height 0.1s linear;
    text-align: left;
    padding: 5px;
    color: #bf143d;
}

#radioLabel{
    font-size: 12pt;
    height: 100%;
    flex: 1;
}

#radioContainer{
    display: flex;
    flex-direction: column;
}

#radioGroup{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.radios{
    display: flex;
    flex-direction: row;
}
