<!DOCTYPE html>
<!--
This file is intended to act as a template for the History, Culture, Sports, Education, and Abandonded Buildings pages, and should not be shown to the user at any point.
For instructions on how to modify this file so that it contains actual content, simply search this file for # and either modify the #enclosed value# or follow the <!--#instructions->



-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sloth Love #Category#!</title>
    <link rel="stylesheet" type="text/css" href="resources/css/index.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/category.css"/>
	<link rel="stylesheet" type="text/css" href="resources/css/content.css"/>
	<script src = "main.js"></script>
</head>
<body>
	<h2 style = "margin:auto" class = "contentHeader">#Name of attraction#</h2>
	<div class = "imageWrapper">
		<img class = "contentImage" alt = "#web url of image#" src = "resources/images/#category/path.ext#">
	</div>
	<p class = "contentDescription">#a few sentences about the given attraction.#</p>
</body>
</html>